@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: white;
  border-radius: 15px 15px 80px 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 50px;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.input_container label {
  color: hsl(0, 1%, 44%);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 3px;
}

.input_container input {
  color: black;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%); /* Added border style */
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.input_container input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -25px;
}

.line {
  background-color: hsl(0, 0%, 86%);
  height: 1px;
  width: 70%;
  margin-left: 30px;
}

.button {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  color: white;
  padding: 15px;
  font-weight: 700;
  text-align: center;
}

.button svg {
  height: 35px;
  width: 35px;
}

.age {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 40px;
}

.ageval {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  color: hsl(259, 100%, 65%);
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
}

.unit {
  color: black;
  font-size: 70px;
  font-weight: 900;
  margin-left: 10px;
  font-style: italic;
}

.attribution {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
}

@media (max-width: 800px) {
  .calculator {
    width: 90%;
  }

  .input_container {
    align-items: center;
  }

  .input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .divider {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .line {
    width: 90%;
    margin-top: 30px;
    margin-left: 0;
  }

  .button {
    margin-top: -35px;
  }

  .unit {
    color: black;
    font-size: 60px;
    font-weight: 900;
    margin-left: 10px;
    font-style: italic;
  }
}
